node_modules/
dist/
*.log
.env
.env.*
!.env.example
apps/api/.env
apps/pocketbase/pb_data/
apps/pocketbase/pocketbase
apps/pocketbase/
apps/web/plugins/
apps/web/vite.config.js
knip.json
app.tar.gz
.DS_Store
